@import url('https://fonts.googleapis.com/css?family=Raleway|Press+Start+2P');

html {
}
body {
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(75deg, #3F51B5, #FF5722, #FFC107);
    color: #FFF;
}