@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
    font-family: 'Raleway', sans-serif;
    background: #FFF;
}

.aw-not-found {
    text-align: center;
    width: 100%;
    margin: 5% auto;
    display: block;
}