.progress-container {
    margin-top: 2%;
}

progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    appearance: none;
    -moz-appearance: none;
    width: 25vw;
    height: 3vh;
    border: .25em rgba(21, 21, 21, .1) solid;
    background: repeating-linear-gradient(45deg, rgba(21, 21, 21, .6), rgba(21, 21, 21, .6) 10px, rgba(21, 21, 21, .3) 10px, rgba(21, 21, 21, .3) 20px);
    border-radius: .5em;
}

progress[value]::-moz-progress-bar {
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    background: rgba(33,150,243, .8);
}