<!DOCTYPE html>
<html lang="en">
<head>
    <title>Not Found!</title>
    <link rel="stylesheet" href="/css/reset.css" type="text/css">
    <link rel="stylesheet" href="/css/master.css" type="text/css">
</head>
<body>
    <div class="aw-nf-header aw-z-index-5">
        <h1>the force is strong with this one</h1>
    </div>
    <div class="aw-nf">
        <div class="aw-nf-text-wrapper aw-z-index-5">
            <h1>Whoops! :(</h1>
            <h2>The content you are tying to get does not exist</h2>
        </div>
        <img src="/img/404_s.png" alt="Not Found">
    </div>
    <div class="aw-nf-footer">
        <h1>404</h1>
    </div>
</body>
</html>